*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, ul, li, a{
    text-decoration: none;
    list-style: none;
    font-family: "Georgia", sans-serif;
}

img{
    max-width: 100%;
    display: block;
}
.h-bg{
    background: #222222;
}
.h-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.h-menu{

}
.h-menu ul{
    display: flex;
}
.h-menu ul li a{
    color: #fff;
    display: block;
    padding: 10px;
    /* background: tomato; */
    margin: 5px;
    font-size: 1.25em;
    font-weight: bold;
}